Repository vmware-tanzu/load-balancer-operator-for-kubernetes, pull requests merged in 2021-09, with the labels that each got.

#8 Merge release 1.4.0
  Makefile
  api/v1alpha1/akodeploymentconfig_types.go
  api/v1alpha1/constants.go
  config/crd/bases/networking.tkg.tanzu.vmware.com_akodeploymentconfigs.yaml
  config/ytt/static.yaml
  controllers/akodeploymentconfig/akodeploymentconfig_controller.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_cluster_phase.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller.go
  controllers/akodeploymentconfig/cluster/cluster_controller_addon_secret.go
  controllers/akodeploymentconfig/phases/phases.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/cluster/cluster_intg_test.go
  controllers/machine/machine_controller.go
  controllers/machine/machine_controller_intg_test.go
  go.mod
  go.sum
  hack/tools/Makefile
  pkg/ako-operator/config_envvar.go
  pkg/ako/ako_deploy_artifacts.go
  pkg/ako/values.go
  pkg/ako/values_test.go
  pkg/controller-runtime/handlers/cluster_for_akodeploymentconfig_handler.go
  pkg/haprovider/haprovider.go
  pkg/test/util/utils.go
Labels: cla-not-required

#9 Setup CI/CD for this upstream repo with Github Action.
  .github/workflows/actions.yml
  .gitlab-ci.yml
  Dockerfile-for-github-ci
  Makefile
  README.md
Labels: kind/enhancement, cla-not-required, ok-to-merge, approved

#10 Add markdown templates for upstream preparation.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODEOWNERS
Labels: kind/enhancement, cla-not-required, ok-to-merge, approved

#13 Add GitHub CI/CD bot.
  .github/workflows/bot.yaml
Labels: cla-not-required

#15 Fix GitHub CI/CD bot.
  .github/labels.yml
  .github/workflows/on-comments.yml
  .github/workflows/pr-labelers.yml
  .github/workflows/stale.yml
Labels: cla-not-required

#11 Expose all AKO configuration in AKODeploymentConfig
  api/v1alpha1/akodeploymentconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/networking.tkg.tanzu.vmware.com_akodeploymentconfigs.yaml
  config/samples/network_v1alpha1_akodeploymentconfig.yaml
  config/ytt/static.yaml
  controllers/akodeploymentconfig/bootstrap-cluster/bootstrap_cluster_controller_unit_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller_unit_test.go
  pkg/ako/values.go
  pkg/ako/values_test.go
Labels: cla-not-required, kind/feature

#19 Fix labeler.yml not found.
  .github/labeler.yml
  .github/workflows/pr-labelers.yml
Labels: cla-not-required

#20 Fix incorrect assignment in NewAKOSettings.
  pkg/ako/values.go
  pkg/ako/values_test.go
Labels: kind/bug, cla-not-required, ok-to-merge

#22 Change TKG_VERSION to 1.5.0 in Makefile.
  Makefile
Labels: cla-not-required
