Repository vmware-tanzu/load-balancer-operator-for-kubernetes, pull requests merged in 2022-06, with the labels that each got.

#66 add webhook for proventing user editing ADC's ControlPlaneNetwork
  Makefile
  api/v1alpha1/akodeploymentconfig_webhook.go
  api/v1alpha1/akodeploymentconfig_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/certmanager/certificate.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_akodeploymentconfigs.yaml
  config/crd/patches/webhook_in_akodeploymentconfigs.yaml
  config/default/kustomization.yaml
  config/webhook/manifests.yaml
  config/ytt/ako-operator.yaml
  config/ytt/static.yaml
  main.go
  pkg/haprovider/haprovider.go
Labels: cla-not-required

#88 fix markdown lint
  README.md
Labels: cla-not-required

#89 Remove controller-runtime package
  controllers/akodeploymentconfig/akodeploymentconfig_controller.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_cluster_phase.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller.go
  controllers/akodeploymentconfig/phases/phases.go
  controllers/cluster/cluster_controller.go
  controllers/machine/machine_controller.go
  pkg/controller-runtime/finalizer.go
  pkg/handlers/cluster.go
  pkg/handlers/cluster_for_akodeploymentconfig_handler.go
  pkg/handlers/cluster_for_akodeploymentconfig_handler_test.go
  pkg/handlers/cluster_for_machine_handler.go
  pkg/handlers/cluster_for_machine_handler_test.go
  pkg/handlers/secret_for_akodeploymentconfig_handler.go
  pkg/handlers/service_for_cluster_handler.go
  pkg/handlers/suite_test.go
  pkg/haprovider/haprovider.go
Labels: cla-not-required

#90 Make the ADC spec.ClusterSelector immutable using webhook.
  api/v1alpha1/akodeploymentconfig_webhook.go
  api/v1alpha1/akodeploymentconfig_webhook_test.go
Labels: cla-not-required

#91 Fix akodeploymentconfig cluster selector didn't select the right clusters issue
  Makefile
  api/v1alpha1/constants.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_avi_phase.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_cluster_phase.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/phases/phases.go
  controllers/akodeploymentconfig/phases/phases_unit_test.go
  controllers/cluster/cluster_controller.go
  pkg/ako-operator/akodeploymentconfig_cluster_mapping_helper.go
  pkg/handlers/cluster.go
  pkg/handlers/cluster_for_akodeploymentconfig_handler.go
  pkg/handlers/cluster_for_akodeploymentconfig_handler_test.go
  pkg/handlers/cluster_for_machine_handler.go
  pkg/haprovider/haprovider.go
Labels: kind/bug, cla-not-required

#95 Upload coverage reports to Codecov with GitHub Action.
  .codecov.yml
  .github/workflows/actions.yml
  README.md
Labels: cla-not-required

#94 Add validation on akodeploymentconfig avi fields in webhook
  .codecov.yml
  api/v1alpha1/akodeploymentconfig_webhook.go
  api/v1alpha1/akodeploymentconfig_webhook_test.go
  pkg/aviclient/client.go
  pkg/aviclient/fake_avi_client.go
  pkg/aviclient/interface.go
Labels: kind/enhancement, cla-not-required

#97 Add more validation function in webhook
  api/v1alpha1/akodeploymentconfig_webhook.go
  api/v1alpha1/akodeploymentconfig_webhook_test.go
Labels: kind/enhancement, cla-not-required
